<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_ConfigurableImport>
            <version>1.0.0</version>
        </Edge_ConfigurableImport>
    </modules>
    <global>
        <blocks>
            <configurableimport>
                <class>Edge_ConfigurableImport_Block</class>
            </configurableimport>
        </blocks>
        <helpers>
            <configurableimport>
                <class>Edge_ConfigurableImport_Helper</class>
            </configurableimport>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Edge_ConfigurableImport after="Mage_Adminhtml">Edge_ConfigurableImport</Edge_ConfigurableImport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>